@import 'bourbon';
@import 'neat';
@import 'base/base';
@import 'partials/partials';
@import 'pages/pages';

body {
  background-color: $background-color;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}
