---
title: Daina Roig
---


.Home
  .Home__about
    .Home__about-img
      img src="images/about.png"
    .Home__about-text
      h1.Home__about-title Sobre la artista
      .Home__about-content
        p ==lorem.paragraphs 1
        p ==lorem.paragraphs 1
        p ==lorem.paragraphs 1
  / h2 =data.space.homepage.values[0].title